	<div class="about-we">
		<div class="container">
			<h2>Our Mission</h2>
			<p>The Tech Incubator at Queens College seeks to provide tech companies with facilities, guidance, and access to the diverse and talented students, staff and faculty of the college to help them grow.</p>

			<h2>Who Are We</h2>
			<p>The Tech Incubator at Queens College (TIQC), supported by the New York City Council, is the startup incubator for tech freelancers, professional developers, and entrepreneurs. TIQC aims at helping startup companies and entrepreneurs to build successful technology companies, which in turn creates more job opportunities and driving new innovation and technology development in New York. With the advanced computational infrastructure and the CUNY community advantages, TIQC provides an outstanding environment for companies to turn innovative ideas into businesses and success.</p>
			<p>TIQC is a member of Business Incubator Association of New York State (BIA/NYS).</p>
		</div>
		
	</div>
	
	<div class = "">
		<a class = "" href="#staff">
			<figure class = "shape scroll-staff staff-color text-color">
				Staff & Interns
			</figure>
		</a>
	</div>
	<div class ="">
		<a class = "" href="#space">
			<figure class = "shape scroll-space space-color text-color">
				TIQC Space
			</figure>
		</a>
	</div>
	<div class ="">
		<a class = "" href="#resource">
			<figure class = "shape scroll-resource resource-color text-color">
				IT Resouces
			</figure>
		</a>
	</div>
	<div class="container">
		<div class="shape-staff">
			<div class = "row">
				<div class="col-lg-5">
					<h1 id="staff">STAFF</h1>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/Ted_portrait.jpg">
						<P class="staff-name">staff name</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/elvin.jpg">
						<P class="staff-name">staff name</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/navy.jpg">
						<P class="staff-name">staff name</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/sophie.jpg">
						<P class="staff-name">staff name</P>
					</div>
					
				</div>		
				<div class="col-lg-2">
					
				</div>
				<div class="col-lg-5">
					<h1 class="intern-color">Interns</h1>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/Oliver_Akhtar_0.png">
						<P class="staff-name">Oliver Akhtar</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/Jason_Farkas.jpg">
						<P class="staff-name">Jason Farkas</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/Henry_He.jpg">
						<P class="staff-name">Henry He</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/leroy_leslie.jpg">
						<P class="staff-name">Leroy Leslie</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/Vincent_Li.jpg">
						<P class="staff-name">Vincent Li</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/philip_parzygnat_0.jpg">
						<P class="staff-name">Philip Parzygnat</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/Muhammad_Vali.jpg">
						<P class="staff-name">Muhammad Tahir Vali</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/David_D_Yu_0.jpg">
						<P class="staff-name">David Yu</P>
					</div>
					<div class = "img-shape-2 col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="img-shape" src="/images/staff-interns/Yuqian_Zhang.jpg">
						<P class="staff-name">David Yu</P>
					</div>
				</div>	
			</div>
		</div>
	</div>
		<div class = "shape-space">
			<div class="container">
				<h1 id="space">TIQC Space</h1>
					<div class = "row">
						<h3>Our Facilities</h3>
						<p>TIQC is located in a dedicated building, CEP Hall 2, on an 80-acre, tree-lined Queens College campus surrounding a traditional quad with a magnificent view of the Manhattan skyline. The building access is controlled by Blackboard Door Access System. All qualified members and fellows will be assigned a QCard issued by Queens College.</p>

						<p>TIQC strives to provide the facility, network, workshops and more resources to our members. We have allocated public and shared space with functions, include:</p>

						<ul>
							<li>Lounge: refrigerator, coffee maker, drinking water, microwave, and kitchen sink.</li>
							<li>Game Room</li>
							<li>Resource Center: network printer, copier, and 3D printer.</li>
							<li>Privacy Telephone Booth: phone booth with handset.</li>
							<li>7-seat and 15-seat Conference Rooms: modern video conferencing system with wireless collaboration capability via Sharelink 200N.</li>
							<li>Classroom: 20-seat classroom with projector and Lectern</li>
						</ul>

						<h3>Our Work Space</h3>
						<p>We design affordable and comfortable tech space for the right teams and entrepreneurs. Queens College campus is at your hands to explore and develop innovative technology ideas. Our available office space includes 1, 4, 6, 8, 10-private work space, and one coworking space that could accommodate up to 12 private work tables.</p>
						<ul>
							<li>Individual Pro Office (1 Person): approximately 80 ft2.</li>
							<li>Small Incubator (Up To 4 People): approximately 150 ft2.</li>
							<li>Medium Incubator (Up To 6 People): approximately 270 ft2.</li>
							<li>Medium Plus Incubator (Up To 8 People): approximately 300 ft2.</li>
							<li>Large Incubator (Up To 10 People): approximately 470 ft2.</li>
							<li>Coworking (Up To 12 People): approximately 570 ft2.</li>
						</ul>	
					</div>	
			</div>
				
		</div>
		
		<div class="shape-resource">
			<div class="container">
				<h1 id="resource">IT Resources</h1>
				<div class = "row">
					<div class = "container">
						<ul>	
							<li>Servers: Dell PowerEdge R730 and Dell PowerEdge R920.</li>
							<li>Wireless: Dedicated dense coverage Wireless AP installed in QUIC facility, in addition to Queens College QWiFi coverage.</li>
							<li>App Center: Mainly utilized by our QUIC fellows/interns who are talented computer science students on campus. We equip a SMARTBoard E70 interactive LED display.</li>
							<li>Conference System: HuddleCAM 3X 1080P camera, Phoenix USB Conference Phone, 60"/70" smart LED TV, Extron Sharelink Wireless Collaboration Gateway.</li>
							<li>Workshop/Classroom: Panasonic WXGA LCD Projector, Polevault digital system.</li>
							<li>Resource Center: Network copier (Canon image Runner Advance 4245), 3D printer.</li>
						</ul>
					</div>
				</div>	
			</div>	
		</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="about.js"></script>
