	<div class="about-we">
		<div class="container">
			<h2>Our Mission</h2>
			<p>The Tech Incubator at Queens College seeks to provide tech companies with facilities, guidance, and access to the diverse and talented students, staff and faculty of the college to help them grow.</p>

			<h2>Who Are We</h2>
			<p>The Tech Incubator at Queens College (TIQC), supported by the New York City Council, is the startup incubator for tech freelancers, professional developers, and entrepreneurs. TIQC aims at helping startup companies and entrepreneurs to build successful technology companies, which in turn creates more job opportunities and driving new innovation and technology development in New York. With the advanced computational infrastructure and the CUNY community advantages, TIQC provides an outstanding environment for companies to turn innovative ideas into businesses and success.</p>
			<p>TIQC is a member of <a class="link-color" href="http://bianys.com/node/1695">Business Incubator Association of New York State (BIA/NYS)</a>.</p>
		</div>
		
	</div>
	
	<div class = "">
		<a class = "scroll" href="#staff">
			<figure class = "shape scroll-staff staff-color text-color">
				Staff & Interns
			</figure>
		</a>
	</div>
	<div class ="">
		<a class = "scroll" href="#space">
			<figure class = "shape scroll-space space-color text-color">
				TIQC Space
			</figure>
		</a>
	</div>
	<div class ="">
		<a class = "scroll" href="#resource">
			<figure class = "shape scroll-resource resource-color text-color">
				IT Resouces
			</figure>
		</a>
	</div>
	<div class ="">
		<a class = "scroll" href="#queens">
			<figure class = "shape scroll-queens space-color text-color">
				Queens Collge
			</figure>
		</a>
	</div>
	<div class="shape-staff">
		<div class="container">
			<div class = "row">
				<div class="col-lg-12">
					<h1 id="staff">STAFF</h1>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/Ted_portrait.jpg">
						<P class="staff-name">TED BROWN, Ph.D.</P>
						<p class="staff-title">Executive Director</p>
						
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/elvin.jpg">
						<P class="staff-name">HSIEN-TSENG WANG</P>
						<p class="staff-title">MANAGER</p>
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/navy.jpg">
						<P class="staff-name">HAIJUN SU</P>
						<p class="staff-title">ADMINISTRATOR</p>
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/sophie.jpg">
						<P class="staff-name">SHU-YUAN WU</P>
						<p class="staff-title">PROJECT ADMINISTRATOR</p>
					</div>
					
				</div>		
				
				<div class="col-lg-12">
					<h1 class="intern-color">INTERNS</h1>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/Oliver_Akhtar_0.png">
						<P class="staff-name">Oliver Akhtar</P>
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/Jason_Farkas.jpg">
						<P class="staff-name">Jason Farkas</P>
					</div>
					<div class = "img-shape-2 col-lg-3col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/Henry_He.jpg">
						<P class="staff-name">Henry He</P>
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/leroy_leslie.jpg">
						<P class="staff-name">Leroy Leslie</P>
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/Vincent_Li.jpg">
						<P class="staff-name">Vincent Li</P>
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/philip_parzygnat_0.jpg">
						<P class="staff-name">Philip Parzygnat</P>
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/Muhammad_Vali.jpg">
						<P class="staff-name">Muhammad Tahir Vali</P>
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/David_D_Yu_0.jpg">
						<P class="staff-name">David Yu</P>
					</div>
					<div class = "img-shape-2 col-lg-3 col-md-3 col-sm-3">
						<img class="img-shape" src="/images/staff-interns/Yuqian_Zhang.jpg">
						<P class="staff-name">David Yu</P>
					</div>
				</div>	
			</div>
		</div>
	</div>
		<div class = "shape-space">
			<div class="container">
				<h1 id="space">TIQC Space</h1>
					<div class = "row">
						<h3>Our Facilities</h3>
						<p>TIQC is located in a dedicated building, CEP Hall 2, on an 80-acre, tree-lined Queens College campus surrounding a traditional quad with a magnificent view of the Manhattan skyline. The building access is controlled by Blackboard Door Access System. All qualified members and fellows will be assigned a QCard issued by Queens College.</p>

						<p>TIQC strives to provide the facility, network, workshops and more resources to our members. We have allocated public and shared space with functions, include:</p>

						<ul>
							<li>Lounge: refrigerator, coffee maker, drinking water, microwave, and kitchen sink.</li>
							<li>Game Room</li>
							<li>Resource Center: network printer, copier, and 3D printer.</li>
							<li>Privacy Telephone Booth: phone booth with handset.</li>
							<li>7-seat and 15-seat Conference Rooms: modern video conferencing system with wireless collaboration capability via Sharelink 200N.</li>
							<li>Classroom: 20-seat classroom with projector and Lectern</li>
						</ul>

						<h3>Our Work Space</h3>
						<p>We design affordable and comfortable tech space for the right teams and entrepreneurs. Queens College campus is at your hands to explore and develop innovative technology ideas. Our available office space includes 1, 4, 6, 8, 10-private work space, and one coworking space that could accommodate up to 12 private work tables.</p>
						<ul>
							<li>Individual Pro Office (1 Person): approximately 80 ft2.</li>
							<li>Small Incubator (Up To 4 People): approximately 150 ft2.</li>
							<li>Medium Incubator (Up To 6 People): approximately 270 ft2.</li>
							<li>Medium Plus Incubator (Up To 8 People): approximately 300 ft2.</li>
							<li>Large Incubator (Up To 10 People): approximately 470 ft2.</li>
							<li>Coworking (Up To 12 People): approximately 570 ft2.</li>
						</ul>	
					</div>	
			</div>
				
		</div>
		
		<div class="shape-resource">
			<div class="container">
				<h1 id="resource">IT Resources</h1>
				<div class = "row">
					<div class = "container">
						<ul>	
							<li>Servers: Dell PowerEdge R730 and Dell PowerEdge R920.</li>
							<li>Wireless: Dedicated dense coverage Wireless AP installed in QUIC facility, in addition to Queens College QWiFi coverage.</li>
							<li>App Center: Mainly utilized by our QUIC fellows/interns who are talented computer science students on campus. We equip a SMARTBoard E70 interactive LED display.</li>
							<li>Conference System: HuddleCAM 3X 1080P camera, Phoenix USB Conference Phone, 60"/70" smart LED TV, Extron Sharelink Wireless Collaboration Gateway.</li>
							<li>Workshop/Classroom: Panasonic WXGA LCD Projector, Polevault digital system.</li>
							<li>Resource Center: Network copier (Canon image Runner Advance 4245), 3D printer.</li>
						</ul>
					</div>
				</div>	
			</div>	
		</div>
		<div class="shape-queens-college">
			<div class=container>
				<h1 id="queens">QUEENS COLLGE</h1>
				<p>
					At its founding in 1937, Queens College was hailed by the people of the borough as “the college of the future.” Now part of the City University of New York (CUNY), Queens College offers a rigorous education in the liberal arts and sciences under the guidance of a faculty dedicated to both teaching and research. Students graduate with the ability to think critically, address complex problems, explore various cultures, and use modern technologies and information resources.
				</p>
				<p>
					Located in a residential area of Flushing in the borough of Queens—America’s most ethnically diverse county—the college has students from more than 150 nations. A member of Phi Beta Kappa, Queens College is consistently ranked among the leading institutions in the nation for the quality of its academic programs and student achievement. Recognized as one of the most affordable public colleges in the country, Queens College offers a first-rate education to talented people of all backgrounds and financial means.
				</p>
				<p>
					The beautiful campus consists of 80 acres lined with trees surrounding grassy open spaces and a traditional quad. The college boasts state-of-the-art computer and science laboratories, a spectacular music building, and the six-story Rosenthal Library. The major classroom building, Powdermaker Hall, has the latest technology throughout. An extensive commitment to sustainability has earned Queens College inclusion in the Princeton Review’s first-ever Guide to 322 Green Colleges.
				</p>
				<p>
					Academic programs are organized into four divisions, which offer both day and evening courses: Arts and Humanities; Mathematics and the Natural Sciences; the Social Sciences; and Education (Queens College educates more teachers than any other college in the New York City region). The college offers several new undergraduate and graduate majors, including a BA in Chinese, a BA in Classics, a Bachelor of Business Administration degree, an MFA in Creative Writing and Translation, an MS in Photonics, and an MS in Risk Management.
				</p>
				<p>
					Queens College participates in CUNY’s Macaulay Honors College, a challenging program open to the most academically gifted students. It also offers qualified students its own honors programs in the arts and humanities, sciences, and social sciences. An Honors Center with lounges and labs is available for students participating in the college’s various honors programs.
				</p>
				<p>
					The college’s centers and institutes serve students and the larger community by addressing society’s most important challenges—including cancer, pollution, and racism—as well as celebrating the borough’s many ethnic communities. Its arts scene is vibrant, thanks to the Kupferberg Center for the Visual and Performing Arts, which brings together the college’s academic departments in the arts (Music, Drama, Theatre & Dance, Art, and Media Studies) and its museums (the Godwin-Ternbach Museum, the Queens College Art Center, and the Louis Armstrong House Museum). The celebrated Evening Readings Series has brought some of the world’s most acclaimed writers to campus.
				</p>
				<p>
					The college’s administration is committed to making the campus a home away from home for its students with over 100 clubs and teams, from the Science Organization of Minority Students to clubs for theatre, fencing, environmental science, and martial arts. The only CUNY college that participates in NCAA Division II sports, Queens sponsors men’s and women’s teams and has some of the finest athletics facilities in the metropolitan area. The college continues to open new cafes, dining areas, and lounge areas; improve the Student Union and other buildings; and embark on a variety of beautification projects to enhance students’ experience on campus.
				</p>
				<p>
					Queens College opened its first residence hall, The Summit, in fall 2009. Now known as Summit Apartments, it houses approximately 500 students. Summit earned LEED Gold certification, a ranking established by the U.S. Green Building Council, thanks to its green design and use of sustainable strategies for water and energy.
				</p>
				
			</div>
		</div>
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
