<div id="email-parent" class="container-fluid text-center">
    <h2>Sign Up For Tech Incubator Updates</h2>
    <div id="email">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Email">
            </div>
            <button id="email-btn" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<div id="wall-1" class="image"></div>
<div id="pricing-plans-info" class="container-fluid text-center primary-font-style">
    <h1>Plans & Pricing</h1>
    <div class="container-fluid row text center">
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <img src="/images/logos/TechIncubator_web_black_red_logo.png">
            <h3>Daily/Weekly Pass</h3>
            <p>Lorem ipsum dolor sit amet, sanctus efficiantur vis ad,
                te quot expetendis ius. Ei dolorum appellantur eum, est
                no zril utamur. Soleat quaeque scriptorem et sea. Admodum
                definiebas ex sed. Mel in melius invidunt expetenda</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="/images/rooms/dedicated-desk-1.png">
            <h3>Dedicated Desk</h3>
            <p>Lorem ipsum dolor sit amet, sanctus efficiantur vis ad,
                te quot expetendis ius. Ei dolorum appellantur eum, est
                no zril utamur. Soleat quaeque scriptorem et sea. Admodum
                definiebas ex sed. Mel in melius invidunt expetenda</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="/images/rooms/private-office-1.png">
            <h3>Private Office</h3>
            <p>Nam ex solum verear oporteat. Dico laoreet cu vim. Mel
                augue eloquentiam id, has essent admodum fabellas ea. Eu
                alii alia elit usu. Cum no debet causae vidisse, perfecto
                neglegentur an mea.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="/images/rooms/team-room-1.png">
            <h3>Team Space</h3>
            <p>Cu nam offendit eleifend, quis meliore nam eu. Cu solet
                nemore tincidunt nec. Utamur nusquam alienum ad his. Cu
                nam soluta deserunt, sea ceteros vituperata disputationi
                id.</p>
        </div>
    </div>
    <div class="container text-center primary-font-style ext-btn-pd">
        <button class="btn btn-primary btn-lg">See all plans and pricing</button>
    </div>
</div>
<!--////////////////////////////////////////////////////////////////////////////////////////////////-->
<div id="ammen-info" class="wall-1 container-fluid text-center primary-font-style">
    <h1>What A Quic Membership Includes...</h1>
    <div class="container-fluid row text-center">
        <div class="ammen-item col-md-4 col-xs-12">
            <img src="/images/graphics/table.png">
            <h3>Work Space</h3>
            <p>TIQC offers flexible and affordable workspace solution for your 
				startup. We design affordable and comfortable tech space for the 
				right teams and entrepreneurs.</p>
        </div>
        <div class="ammen-item col-md-4 col-xs-12">
            <img src="/images/graphics/settings.png">
            <h3>Support</h3>
            <p>We prepare reliable computing and networking infrastructure that would 
				boost your tech idea implementation.</p>
        </div>
        <div class="ammen-item col-md-4 col-xs-12">
            <img src="/images/graphics/calendar.png">
            <h3>Events</h3>
            <p>Join us for our organized events and socials or host your
                talks and events here. We have the space to accommodate all
                your event hosting needs.</p>
        </div>
    </div>
</div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
<div id="parent-car-div" class="container-fluid row text-center primary-font-style">
    <div class="col-md-6 col-xs-12">
        <div id="offer-info">
			<h2>Our Facilities</h2>
            <p>TIQC is located in a dedicated building, CEP Hall 2, on an 80-acre,
                tree-lined Queens College campus surrounding a traditional quad with
                a magnificent view of the Manhattan skyline. The building access is
                controlled by Blackboard Door Access System. All qualified members and
                fellows will be assigned a QCard issued by Queens College.</p>
            <p>TIQC strives to provide the facility, network, workshops and more resources 
				to our members. We have allocated public and shared space with functions, include:
            </p>
			<ul>
                <li>Lounge: refrigerator, coffee maker, drinking water, microwave, and kitchen sink.</li>
                <li>Game Room</li>
                <li>Resource Center: network printer, copier, and 3D printer.</li>
                <li>Privacy Telephone Booth: phone booth with handset.</li>
                <li>7-seat and 15-seat Conference Rooms: modern video conferencing system with wireless 
					collaboration capability via Sharelink 200N.</li> 
                <li>Classroom: 20-seat classroom with projector and Lectern</li>
			</ul>
        </div>
    </div>
	<div class="col-md-6 col-xs-12">
		<div id="generic-carousel" class="carousel slide" data-ride="carousel">
			<!--Indicators-->
			<ol class="carousel-indicators">
				<li data-target="#generic-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#generic-carousel" data-slide-to="1"></li>
				<li data-target="#generic-carousel" data-slide-to="2"></li>
				<li data-target="#generic-carousel" data-slide-to="3"></li>
				<li data-target="#generic-carousel" data-slide-to="4"></li>
				<li data-target="#generic-carousel" data-slide-to="5"></li>
				<li data-target="#generic-carousel" data-slide-to="6"></li>
			</ol>
			<!--Wrappers-->
			<div class="carousel-inner">
				<!--++++++++++++++++++++++++++++++++-->
				<div class="item active">
					<img src="/images/rooms/lounge.png" alt="Pic">
					<div class="carousel-caption">
						<h3>Lounge</h3>
					</div>
				</div>
                <!--++++++++++++++++++++++++++++++++-->
				<div class="item">
					<img src="/images/rooms/private-office-1.png" alt="Pic">
					<div class="carousel-caption">
						<h3>Game Room</h3>
					</div>
				</div>
                <!--++++++++++++++++++++++++++++++++-->
                <div class="item">
                    <img src="/images/rooms/3D-printer.png" alt="Pic">
                    <div class="carousel-caption">
                        <h3>Resource Center</h3>
                    </div>
                </div>
                <!--++++++++++++++++++++++++++++++++-->
                <div class="item">
                    <img src="/images/rooms/private-office-1.png" alt="Pic">
                    <div class="carousel-caption">
                        <h3>Privacy Telephone Booth</h3>
                    </div>
                </div>
                <!--++++++++++++++++++++++++++++++++-->
                <div class="item">
                    <img src="/images/rooms/small-conference.png" alt="Pic">
                    <div class="carousel-caption">
                        <h3>7-seat Conference Rooms</h3>
                    </div>
                </div>
                <!--++++++++++++++++++++++++++++++++-->
                <div class="item">
                    <img src="/images/rooms/medium-conference.png" alt="Pic">
                    <div class="carousel-caption">
                        <h3>15-seat Conference Rooms</h3>
                    </div>
                </div>
                <!--++++++++++++++++++++++++++++++++-->
                <div class="item">
                    <img src="/images/rooms/classroom.png" alt="Pic">
                    <div class="carousel-caption">
                        <h3>Classroom</h3>
                    </div>
                </div>
                <!--++++++++++++++++++++++++++++++++-->
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#generic-carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#generic-carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- Generic Carousel -->
	</div>
</div>

<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
<div id="room-info-pane" class="wall-2 container-fluid text-center primary-font-style">
	<h1>Membership Level Breakdown</h1>

    <div id="generic-carousel-2" class="carousel slide" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#generic-carousel-2" data-slide-to="0" class="active"></li>
            <li data-target="#generic-carousel-2" data-slide-to="1"></li>
            <li data-target="#generic-carousel-2" data-slide-to="2"></li>
            <li data-target="#generic-carousel-2" data-slide-to="3"></li>
            <li data-target="#generic-carousel-2" data-slide-to="4"></li>
            <li data-target="#generic-carousel-2" data-slide-to="5"></li>
            <li data-target="#generic-carousel-2" data-slide-to="6"></li>
        </ol>

        <!--Wrappers-->
        <div class="carousel-inner">
            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <div class="item active room container-fluid row text center">
                <div class="col-md-6 col-xs-12">
                    <img src="/images/rooms/private-office-1.png" alt="Pic">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="offer-info">
                        <h2>Dedicated Desk</h2>
                        <ul>
                            <li>Personal, dedicated workspace.</li>
                            <li>24/7 card-key access to designated space.</li>
                            <li>Network servers with Hadoop.</li>
                            <li>Mail collection.</li>
                            <li>Receptionist.</li>
                            <li>Whiteboard.</li>
                            <li>Lounge Access.</li>
                            <li>Access to Member-only events.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <div class="item room container-fluid row text center">
                <div class="col-md-6 col-xs-12">
                    <img src="/images/rooms/private-office-1.png" alt="Pic">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="offer-info">
                        <h2>Private Office Pro</h2>
                        <ul>
                            <li>Approximately 80 ft2, and accommodate 1 comfortable seating
                                with L-shaped workstation provided.</li>
                            <li>Personal, dedicated private office.</li>
                            <li>24/7 Card-key access to designated space.</li>
                            <li>Network servers with Hadoop.</li>
                            <li>Mail collection.</li>
                            <li>Receptionist.</li>
                            <li>Whiteboard.</li>
                            <li>Lounge Access</li>
                            <li>Access to Member-only events.</li>
                        </ul>
                    </div>
                </div>
			</div>
            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <div class="item room container-fluid row text center">
                <div class="col-md-6 col-xs-12">
                    <img src="/images/rooms/small-inc.png" alt="Pic">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="offer-info">
                        <h2>Small Incubator</h2>
                        <ul>
                            <li>Approximately 150 ft2, and accommodate 4 comfortable seating
                                with 5 or 6-ft computer desk provided.
                            </li>
                            <li>Suggested for companies of up to 4 coworkers.</li>
                            <li>24/7 Card-key access to designated space.</li>
                            <li>Network servers with Hadoop.</li>
                            <li>Access to Member-only events.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <div class=" item room container-fluid row text center">
                <div class="col-md-6 col-xs-12">
                    <img src="/images/rooms/med-inc.png" alt="Pic">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="offer-info">
                        <h2>Medium Incubator</h2>
                        <ul>
                            <li>Approximately 270 ft2, and accommodate 6 comfortable seating
                                with 5 or 6-ft computer desk provided.</li>
                            <li>Medium incubator office could accommodate 6 or 8 seats.</li>
                            <li>Members for coworking space will be offered 24/7 access to shared offices
                                on a first-come, first-served basis.</li>
                            <li>Invitation to our master classes or workshops with up to 25% discounts.</li>
                            <li>Access to our facility, lounge, resource center, IT resources.</li>
                            <li>Free 2-8 hours conference room access per month.</li>
                            <li>On-site administrative and IT staff assistance.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <div class="item room container-fluid row text center">
                <div class="col-md-6 col-xs-12">
                    <img src="/images/rooms/med-inc-plus.png" alt="Pic">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="offer-info">
                        <h2>Medium Incubator +</h2>
                        <ul>
                            <li>Approximately 300 ft2, and accommodate 8 comfortable seating
                                with 5-ft computer desk provided.</li>
                            <li>Members for coworking space will be offered 24/7 access to shared offices
                                on a first-come, first-served basis.</li>
                            <li>Invitation to our master classes or workshops with up to 25% discounts.</li>
                            <li>Access to our facility, lounge, resource center, IT resources.</li>
                            <li>Free 2-8 hours conference room access per month.</li>
                            <li>On-site administrative and IT staff assistance.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <div class="item room container-fluid row text center">
                <div class="col-md-6 col-xs-12">
                    <img src="/images/rooms/large-inc.png" alt="Pic">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="offer-info">
                        <h2>Large Incubator</h2>
                        <ul>
                            <li>Approximately 470 ft2, and accommodate 10 comfortable seating with
                                5-ft computer desk provided.</li>
                            <li>Members for coworking space will be offered 24/7 access to shared offices
                                on a first-come, first-served basis.</li>
                            <li>Invitation to our master classes or workshops with up to 25% discounts.</li>
                            <li>Access to our facility, lounge, resource center, IT resources.</li>
                            <li>Free 2-8 hours conference room access per month.</li>
                            <li>On-site administrative and IT staff assistance.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <div class="item room container-fluid row text center">
                <div class="col-md-6 col-xs-12">
                    <img src="/images/rooms/coworking-space.png" alt="Pic">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="offer-info">
                        <h2>Co-Working Space</h2>
                        <ul>
                            <li>Approximately 570 ft2, and accommodate 12 comfortable seating with
                                5-ft computer desk provided.</li>
                            <li>Members for coworking space will be offered 24/7 access to shared offices
                                on a first-come, first-served basis.</li>
                            <li>Invitation to our master classes or workshops with up to 25% discounts.</li>
                            <li>Access to our facility, lounge, resource center, IT resources.</li>
                            <li>Free 2-8 hours conference room access per month.</li>
                            <li>On-site administrative and IT staff assistance.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
		</div>
        <!-- Controls -->
        <a class="left carousel-control" href="#generic-carousel-2" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#generic-carousel-2" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
<div id="about-pane" class="container-fluid text-center primary-font-style">
	<div class="container">
		<h2>Our Mission</h2>
        <p class="text-left">The Tech Incubator at Queens College seeks to provide tech companies with facilities, guidance, and
            access to the diverse and talented students, staff and faculty of the college to help them grow.</p>
	</div>
	<div class="container">
        <h2>Who Are We</h2>
        <p class="text-left">The Tech Incubator at Queens College (TIQC), supported by the New York City Council, is the startup
            incubator for tech freelancers, professional developers, and entrepreneurs. TIQC aims at helping startup
            companies and entrepreneurs to build successful technology companies, which in turn creates more job
            opportunities and driving new innovation and technology development in New York. With the advanced computational
            infrastructure and the CUNY community advantages, TIQC provides an outstanding environment for companies to turn
            innovative ideas into businesses and success.</p>
        <p class="text-left">TIQC is a member of Business Incubator Association of New York State (BIA/NYS).</p>
	</div>
    <div class="container">
        <h2>Staff</h2>
        <p>klsdfjalkdsfh;ksajdfhksjdf</p>
        <div class="staffers container row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img id="staff0" src="/images/staff/Ted_portrait.jpg" alt="" class="circular" onclick="showModal0(0)"/>
				<h4>TED BROWN, Ph.D.</h4>
				<p>EXECUTIVE DIRECTOR</p>
                <!--<button class="btn btn-primary" onclick="showModal0(0)">See Bio</button>-->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img id="staff1" src="/images/staff/elvin.jpg" alt="" class="circular" onclick="showModal0(1)"/>
                <h4>HSIEN-TSENG WANG</h4>
                <p>MANAGER</p>
                <!--<button class="btn btn-primary" onclick="showModal0(1)">See Bio</button>-->
			</div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img id="staff2" src="/images/staff/navy.jpg" alt="" class="circular" onclick="showModal0(2)"/>
				<h4>HAIJUN SU</h4>
                <p>SYSTEM ADMINISTRATOR</p>
                <!--<button class="btn btn-primary" onclick="showModal0(2)">See Bio</button>-->
			</div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img id="staff3" src="/images/staff/sophie.jpg" alt="" class="circular" onclick="showModal0(3)"/>
				<h4>SHU-YUAN WU</h4>
                <p> PROJECT ADMINISTRATOR</p>
                <!--<button class="btn btn-primary" onclick="showModal0(3)">See Bio</button>-->
			</div>
        </div>
        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <div class="modal fade custom-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content get_direction_modal_bg">
                    <div class="text-right"><a class="fa fa-times white normal12" data-dismiss="modal"></a>

                    </div>
                    <div class="modal-body staff-bio-info">
                    </div>
                </div>
            </div>
        </div>
        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	</div>
</div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
<div id="staff-pane" class="wall-3 container-fluid text-center primary-font-style">
	
</div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
<div id="map" class="container-fluid">
    <h3>My Google Maps Demo</h3>
    <div id="map" class="container-fluid"></div>
    <script src="/js/maps.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5Y55DuHISIlV9WUuAYNt1W8PtVk0E6g&callback=initialize">
    </script>
</div>
