<!--<div id="index-body">-->
    <!--<div class="jumbotron jumbotron-fluid bg-info darken">-->
        <!--<div class="container text-sm-center p-t-3">-->
            <!--<h1 class="display-3">Welcome To quic</h1>-->
            <!--<p class="lead">Spaces, room and more!</p>-->

            <!--<div class="btn-group m-t-2" role="group" aria-label="Basic example">-->
                <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register"-->
                        <!--style="background-color: #7F0000; border: none">Register-->
                    <!--Now-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div>-->
        <!--<h1>THIS IS PRICING</h1>-->
    <!--</div>-->

    <!--<div id="email-parent" class="container">-->
        <!--<h2>Sign Up For Tech Incubator Updates</h2>-->
        <!--<div id="email">-->
            <!--<form action="">-->
                <!--<input type="text" placeholder="Email" size="50"/>-->
                <!--<button id="email-btn" class="btn btn-primary">Suscribe</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
