<div id="pricing-plans-info" class="container text-center primary-font-style">
    <h1>Plans & Pricing</h1>
    <div class="container-fluid row text center">
        <div class="col-md-3 col-xs-12 ">
            <h3>Daily/Weekly Pass</h3>
            <p>Lorem ipsum dolor sit amet, sanctus efficiantur vis ad,
                te quot expetendis ius. Ei dolorum appellantur eum, est
                no zril utamur. Soleat quaeque scriptorem et sea. Admodum
                definiebas ex sed. Mel in melius invidunt expetenda</p>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="/images/dedicated-desk-1.png">
            <h3>Dedicated Desk</h3>
            <p>Lorem ipsum dolor sit amet, sanctus efficiantur vis ad,
                te quot expetendis ius. Ei dolorum appellantur eum, est
                no zril utamur. Soleat quaeque scriptorem et sea. Admodum
                definiebas ex sed. Mel in melius invidunt expetenda</p>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="/images/private-office-1.png">
            <h3>Private Office</h3>
            <p>Nam ex solum verear oporteat. Dico laoreet cu vim. Mel
                augue eloquentiam id, has essent admodum fabellas ea. Eu
                alii alia elit usu. Cum no debet causae vidisse, perfecto
                neglegentur an mea.</p>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="/images/team-room-1.png">
            <h3>Team Space</h3>
            <p>Cu nam offendit eleifend, quis meliore nam eu. Cu solet
                nemore tincidunt nec. Utamur nusquam alienum ad his. Cu
                nam soluta deserunt, sea ceteros vituperata disputationi
                id.</p>
        </div>
    </div>
    <div class="container text-center primary-font-style ext-btn-pd">
        <button class="btn btn-primary btn-lg">See all plans and pricing</button>
    </div>
</div>

<div id="ammen-info" class="container-fluid text-center primary-font-style">
    <h1>What A Quic Membership Includes...</h1>
    <div class="container-fluid row text-center">
        <div class="col-md-4 col-xs-12">
            <img src="/images/computer.png">
            <h3>Work Space</h3>
            <p>Cu nam offendit eleifend, quis meliore nam eu. Cu solet
                nemore tincidunt nec.</p>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="/images/cogwheel.png">
            <h3>Support</h3>
            <p>Cu nam offendit eleifend, quis meliore nam eu. Cu solet
                nemore tincidunt nec. </p>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="/images/calendar.png">
            <h3>Events</h3>
            <p>Cu nam offendit eleifend, quis meliore nam eu. Cu solet
                nemore tincidunt nec.</p>
        </div>
    </div>
</div>
	
	

  

