<div class="jumbotron jumbotron-fluid bg-info darken">
    <div class="container text-sm-center p-t-3">
        <h1 class="display-3">Welcome To quic</h1>
        <p class="lead">Spaces, room and more!</p>

        <div class="btn-group m-t-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">Register
                Now
            </button>
        </div>
    </div>
</div>		
