html, body {
  height: 100%;
}

#index-body {
  background-color: $primary-background-color;
}

#email-parent {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); /*Standard*/
  color: white;
  font-family: Raleway, serif;
  height:auto;
  padding-bottom: 2%;
  .form-group{
	width: 100%;
  }
  input{
	width:20%;
	margin-right: -2px;
	margin-left: -3px;
  }
  #email {
	padding-top: 2%;
  }

  #email-btn {
	background-color: $prim-color;
	border: 1px;
	border-color: $prim-color;
	border-radius: 0px;
	color: #FFFFFF;
	height: 34px;
	width: 100px;
	margin-left: -3px;
	margin-top: 0px;
  }
  #email-btn:hover{
	background-color: #670000;
  }
}

.cover {
  background-attachment: fixed;
  background-image: linear-gradient(
				  rgba(0, 0, 0, 0.5),
				  rgba(0, 0, 0, 0.5)
  ),
  url(/images/stock/people-talking.jpg);
  background-size: cover;
  height: 80%;
  color: white;
  z-index: 1;
}

#pricing-plans-info {
  color: black;
  img {
	height: 100%;
	width: 100%;
  }
  h1 {
	padding-bottom: 7%;
	padding-top: 7%;
  }
  h3 {
	padding-bottom: 10%;
	padding-top: 10%;
  }
  button {
	background-color: $prim-color;
	border: 0px;
	color: #FFFFFF;
  }
}

.ext-btn-pd {
  padding-bottom: 7%;
  padding-top: 7%;
}

.wall-1{
  background-attachment: fixed;
  background-image: linear-gradient(
				  rgba(0, 0, 0, 0.5),
				  rgba(0, 0, 0, 0.5)),
  url(/images/stock/mac-work-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
  top: 0;
  z-index:1;
}

#ammen-info {
  color: #FFFFFF;
  padding-bottom: 2%;
  z-index: 2;
  img{
	height:25%;
	width:25%;
  }
  img:hover{
	background-color: #cd0000;
	transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-webkit-transition: background-color 500ms linear;
  }
  h1 {
	margin: 0px;
	padding-bottom: 5%;
	padding-top: 5%;
  }
  h3 {
	//font-size: 24px;
	font-weight: bold;
	padding-bottom: 7%;
	padding-top: 7%;
  }
  p{
	//font-size: 18px;
  }
  .ammen-item{
	padding-top: 2%;
	padding-bottom: 2%;
  }
}

#offer-info{
  padding-left: 2%;
  padding-right: 2%;
  p{
	text-align: left;
  }
  ul{
	text-align: left;
  }
}

#parent-car-div{
  padding-bottom: 5%;
  padding-top: 5%;
}

#generic-carousel{
  padding-top:7%;
  img{
	height: 400px;
	margin: 0 auto; /* Align slide image horizontally center */
  }
}

#generic-carousel-2{
  img{
	height: 300px;
	margin: 0 auto; /* Align slide image horizontally center */
  }
  .carousel-indicators{
	top: 95%;
	margin-top: 2%;
  }
}

.carousel-control.left{
  background-color: transparent;
  background-image: none;
}

.carousel-control.right{
  background-color: transparent;
  background-image: none;

}

.wall-2{
  background-attachment: fixed;
  background-image: linear-gradient(
				  rgba(0, 0, 0, 0.5),
				  rgba(0, 0, 0, 0.5)),
  url(/images/stock/mac-setup-1.jpg);
  background-size: cover;
  bottom: 0;
  right: 0;
  top: 0;
  z-index:1;
}

@media (max-width: 812px) {
  #room-info-pane{
	height: 725px;
	
  }
  .room{
	height: 625px;
  }
}

#room-info-pane{
  color: #FFFFFF;
  
  padding-bottom: 3%;
  padding-top: 3%;
  z-index: 2;
  ul{
	list-style: none;
	text-align: left;
  }
  
  p{
	text-align: left;
  }
  img{
	height: 300px;
	margin: 0 auto; /* Align slide image horizontally center */
  }
  .room{
	padding-top: 2%;
	padding-bottom: 2%;
  }
}

.wall-3{
  background-attachment: fixed;
  background-image: linear-gradient(
				  rgba(0, 0, 0, 0.5),
				  rgba(0, 0, 0, 0.5)),
  url(/images/rooms/queens-college.jpg);
  background-size: cover;
  bottom: 0;
  right: 0;
  top: 0;
  z-index:1;
}

#about-pane{
  padding-bottom: 2%;
  h2{
	padding-top:2%;
  }
  p{
	padding-top: 1%;
  }
  .btn-primary{
	background-color: $prim-color;
	border: none;
  }
  a{
	color: $prim-color;
  }
}

#staff-pane{
  color: #FFFFFF;
  h2{
	padding-top:2%;
  }
  p{
	padding-top: 1%;
  }
  img:hover{
	opacity:0.95;
	border: 1px;
	border-color:#FFFFFF;
  }
  .btn-primary{
	background-color: $prim-color;
	border: none;
  }
  .staffers{
	padding-top: 2%;
	padding-bottom: 2%;
  }

  .interns{
	padding-top: 2%;
	padding-bottom: 2%;

  }
}

#school-pane{
  color: #FFFFFF;
  padding-top: 2%;
  padding-bottom: 2%;
  a{
	color: $prim-color;
  }
  h2{
	padding-top:2%;
  }
  p{
	padding-top: 1%;
  }
}

.circular {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}

.circular img {
  opacity: 0;
  filter: alpha(opacity=0);
}

#map{
  width: 100%;
  height: 400px;
}

.scrolloff {
  pointer-events: none;
}


