.jumbotron {
  background-image: linear-gradient(
				  rgba(0, 0, 0, 0.5),
				  rgba(0, 0, 0, 0.5)
  ),
  url(/images/people-coffee-tea-meeting.jpg);
  //background: url('/images/people-coffee-tea-meeting.jpg');
  background-size: cover;
  height: 40rem;
  color: white;
  text-align: center;
}
