body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/images/pen.jpg");
	background-attachment:scroll;
	background-repeat:no-repeat;
	background-size:100% 600px;
}
.about-we{
	height:500px;
	color:white;
	font-weight: 500;
	font-size:20px;
}
.about-we h2{
	text-align:center;
}
.link-color{
	color:red;
}
.image-stock{
	width:100%;
	height:400px;
	margin-top:0;
}

.shape{
	opacity:0.9;
	right:0;
}
.shape:hover{
	opacity:0.5;
}
.scroll-staff{
/*	border:20px solid #cc0000;*/
	text-align:center;
	width:65px;
	padding-top:8px;
	height:50px;
	/*border-radius:10px;*/
	float:top;
	top:70px;
	position:fixed;
}
.scroll-space{
	text-align:center;
/*	border:20px solid #1a0000;*/
	width:65px;
	padding-top:8px;
	padding-bottom:10px;
	height:50px;
	/*border-radius:10px;*/
	float:top;
	top:120px;
	position:fixed;
}
.scroll-resource{
/*	border:20px solid #cc0000;*/
	text-align:center;
	width:65px;
	padding-top:5px;
	height:50px;
	/*border-radius:10px;*/
	float:top;
	top:170px;
	position:fixed;
}
.scroll-queens{
/*	border:20px solid #cc0000;*/
	text-align:center;
	width:65px;
	padding-top:5px;
	height:50px;
	/*border-radius:10px;*/
	float:top;
	top:220px;
	position:fixed;
}

.text-color{
	color:white;
}
.staff-color{
	background-color:#cc0000;
}
.space-color{
	background-color:#1a0000;

}
.resource-color{
	background-color:#cc0000;
}
#staff{
	color:#cc0000;
}
#space{
	color:#cc0000;
}
#resource{
	color:#cc0000;
}
.intern-color{
	color:#cc0000;
}
.shape-staff{
	margin-top:10%;
}
.shape-space{
	margin-top:4%;
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/images/note.jpg");
	background-size:cover;
	background-attachment:fixed;
	/*-webkit-filter:grayscale(20%);
	filter:grayscale(20%);*/
	color:white;
	z-index:-1;

}
.shape-resource{
	margin-top:5%;
	margin-bottom:10%;
}
.img-shape{
	width:70%;
	border-radius:50%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.staff-name{
	text-align:center;
	font-size:1.5em;
}
.staff-title{
	text-align:center;
	font-size:1em;
}
.shape-queens-college{
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/images/queens-college.jpg");
	background-size:cover;
	background-attachment:fixed;
	color:white;
	z-index:-1;
	padding-top:2%;
	padding-bottom: 5%;
}
#queens{
	color:#cc0000;
}

@media screen and (min-width:768px) and (max-width:1080){
	.img-shape{
		width:10px;
	}
}

@media screen and (min-width:500px) and (max-width:768px ){
	.about-we{
		font-size:15px;
	}
	.shape{
		height:50px;
	}
	.img-shape{
		width:240px;
	}
	.img-shape-2{
		text-align:center;	
		margin-left:auto;
		margin-right:auto;
	}
	.scroll{
		display:none;
	}
}

@media screen and (max-width:500px){
	.about-we{
		font-size:15px;
	}
	.shape{
		text-align:center;
		padding-top:5%;
		height:50px;
		font-size:17px;
	}
	.img-shape{
		width:180px;
	}
	.img-shape-2{
		text-align:center;	
		margin-left:auto;
		margin-right:auto;
	}
	.scroll{
		display:none;
	}
}